

article.buy_pass_pc > div > ul > li > a > dl {background-color: white !important;border-color: #00bff0 !important;height:auto !important;}
.paypc-dt {letter-spacing:-1px !important;font-size: 18px !important;color: #66717a;font-weight: bold !important;border-bottom:1px solid #00bff0;margin:0 !important;padding:10px 0;}
a.on .paypc-dt {color: white !important;background-color: #00bff0;}
/*.paypc-d1 {float: left;background-color:#6d6e71;color:white;}*/
.paypc-d1 {margin:0 !important;height:40px;}
.paypc-d1 span {background-color:#566871;color:white;margin:10px 10px 0 10px;font-size:16px;width:70px;border-radius:5px;height:25px;line-height:25px;letter-spacing:0 !important;font-weight:normal;float:left;}
.paypc-d1 span.pay-hot {background-color:#F2001D !important;float:right;color:yellow;}
.paypc-d2 {margin:8px auto !important;}
.paypc-d2 img {height: 63px;}
.paypc-d3 {margin:0px ! important; color: #00bff0 !important;letter-spacing: .2px;font-size: 30px !important; 
           font-family: 'NotoSansKR-Medium-Alphabetic' !important;font-weight: bold;background-color:white !important;
}
.paypc-d4 {font-size:18px! important;padding:15px 0 !important;font-weight: normal !important;margin-top: 0 !important;}
.paypc-d4 span {background-color:#00bff0;color:yellow !important;border-radius:4px;padding: 0 5px;letter-spacing:0 !important;}
.paypc-d5 {padding:20px 0;border-top:1px solid #00bff0;}
a.on .paypc-d5 {background-color: #00bff0;}
.paypc-d5 span {background-color:#00bff0;color:white;border-radius:5px;padding: 0 10px;font-size:26px;}
a.on .paypc-d5 span {background-color:white;color:#5B6771;}
.myheadPC_wrap{background:#fff;border:1px solid #e1e1e1;border-bottom:none;position:relative;}
.myheadPC_back{margin:5px 5px 0 5px;}
.myheadPC_back img{width:100%;}
.myheadPC_content{height:140px;}
.mP_nm{position:relative;left:260px;padding:26px 0 0 0;display:inline-block;font-size:19px;}
.mP_mail{margin-left:41px;}
.mP_btn{float:right;position:relative;top:12px;padding-right:15px;}
.myheadPC_myCoin{position:absolute;top:50px;left:38px;color:#fff;}
.myheadPC_myCoin ul{position:absolute;top:47px;text-align:center;width:209px;}
.mP_coin{font-size:65px;}
.mP_ctxt{font-size:28px;}
.mP_date{font-size:16px;margin-top:10px;}
.myheadPC_myCoin{position:absolute;top:50px;left:38px;color:#fff;}
.myheadPC_myCoin ul{position:absolute;top:47px;text-align:center;width:209px;}
.f_navFocus_pc{text-align:center;width:130px;height:30px;background:#00bff0;display:block;margin:0 auto;padding:5px 10px;}
a.f_navFocus_pc span{color:#fff;display:inline-block;height:30px;line-height:30px;}
.payPC_wrap{width:930px;margin:0 auto;}
.payPC_wrap .buy_pass_pc{background:#fff;border-radius:5px;padding:5px 0;}
.payPC_wrap .buy_pass_pc .passList_pc{width:928px;margin:0 auto;}
.payPC_wrap .buy_pass_pc .passList_pc h2{padding:15px 0 5px 15px;font-size:14px;font-weight:bold;}
.payPC_wrap .passList_pc ul{overflow:hidden;border-bottom:1px dashed #d1d3d4;box-sizing:border-box;margin:0 10px;padding-bottom:10px;}
.payPC_wrap .passList_pc ul li{float:left;box-sizing:border-box;}
.payPC_wrap .passList_pc ul li a{display:block;background:#fff;padding:6px 0 7px 0;}
.payPC_wrap .passList_pc ul li:last-child{border-right:none;}
.payPC_wrap .passList_pc ul li a dl{text-align:center;border:1px solid #d1d3d4;border-radius:5px;width:292px;height:280px;letter-spacing:1px;border-bottom:1px solid #d1d3d4;box-sizing:border-box;margin:0 5px;}
.payPC_wrap .passList_pc ul li a dl dt{letter-spacing:3px;margin-top:5px;position:relative;}
.payPC_wrap .passList_pc ul li a dl dt span{color:#fff;background:#f00;display:inline-block;text-align:center;border-radius:5px;font-size:18px;margin-right:2px;line-height:30px;height:30px;letter-spacing:1px;position:absolute;left:5px;}
.payPC_wrap .passList_pc ul li a dl dt span.pay_180{background:#ef1e3d;}
.payPC_wrap .passList_pc ul li a dl dt span:first-child{width:75px;display:inline-block;text-align:center;color:#fff;background:#5b6770;border-radius:5px;font-size:18px;margin-right:2px;line-height:30px;height:30px;letter-spacing:1px;position:absolute;left:5px;}
.payPC_wrap .passList_pc ul li a dl dt #p5Box_month{left:94px;width:120px;}
.payPC_wrap .buy_pass_pc ul li a dl dd:nth-child(2){margin-top:60px;font-size:20px;color:#5b6770;font-weight:bold;list-style-type:circle;}
.payPC_wrap .buy_pass_pc ul li a dl dd:nth-child(3){margin-top:27px;letter-spacing:.5px;font-size:35px;font-weight:bold;}
.payPC_wrap .p5Box dd:nth-child(3){color:#00bff0;}
.payPC_wrap .p21Box dd:nth-child(3){color:#00bff0;}
.payPC_wrap .p100Box dd:nth-child(3){color:#00bff0;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(4){margin-top:50px;color:#9fa0a0;font-size:20px;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(4) s em{padding-left:51px;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(5){margin-top:5px;color:#000;font-size:30px;padding-bottom:10px;font-weight:bold;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(5) span{color:#939598;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(5) em{color:#000 !important;letter-spacing:.2px;font-size:30px !important;font-weight:bold;padding-left:7px;}
.payPC_wrap .passList_pc>ul li a dl dd:nth-child(4) em{font-weight:bold;font-size:20px;}
.payPC_wrap .passList_pc>ul li a.on{text-align:center;}
.payPC_wrap .passList_pc>ul li a.on dl{text-align:center;}
.payPC_wrap .passList_pc>ul li a.on .p5Box{background:#00bff0;}
.payPC_wrap .passList_pc>ul li a.on .p21Box{background:#00bff0;}
.payPC_wrap .passList_pc>ul li a.on .p100Box{background:#00bff0;}
.payPC_wrap .passList_pc>ul li a.on dl dt{color:#c9caca;letter-spacing:1px;font-size:15px;text-decoration: none;}
.payPC_wrap .passList_pc ul li a.on dl dt span:last-child{color:#f00;background:#fff;}
.payPC_wrap .passList_pc ul li a.on dl dt span:first-child{width:75px;display:inline-block;text-align:center;color:#00bff0;background:#fff;border-radius:5px;font-size:18px;margin-right:2px;line-height:30px;height:30px;letter-spacing:1px;position:absolute;left:5px;}
.payPC_wrap .passList_pc ul li a.on dl dt #p5Box_month{left:94px;width:120px;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(2){margin-top:60px;font-size:20px;color:#fff;font-weight:bold;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(3){margin-top:27px;color:#fff;letter-spacing:.5px;font-size:35px;}
.payPC_wrap .passList_pc>ul li a.on .p5Box dd:nth-child(3),.payPC_wrap .buy_pass_pc ul li a.on .p21Box dd:nth-child(3),.payPC_wrap .buy_pass_pc ul li a.on .p100Box dd:nth-child(3){color:#fff;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(4){margin-top:50px;color:#c9caca;font-size:20px;padding-left:7px;}
.payPC_wrap .passList_pc>ul li a on dl dd:nth-child(4) s em{padding-left:51px;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(5){color:#fff;font-size:30px;font-weight:bold;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(5) span{color:#fff;}
.payPC_wrap .passList_pc>ul li a.on dl dd:nth-child(5) em{color:#fff !important;letter-spacing:.2px;font-size:30px !important;font-weight:bold;padding-left:7px;}
.payPC_wrap .regul_agree_con{padding:15px 30px 5px 30px;}
.payPC_wrap .pc_g_join{clear:both;}
.payPC_wrap .pc_g_join div{clear:both;}
.payPC_wrap .pc_g_join div:nth-child(4) strong{font-weight:bold;}
.payPC_wrap .pc_g_join p{font-size:16px;font-weight:bold;}
.payPC_wrap .pc_g_join .join_info{vertical-align:middle;font-size:12px;height:28px;line-height:28px;color:#9fa0a0;width:20px;border:none;float:left;}
.payPC_wrap .pc_g_join .join_info input{height:32px;line-height:32px;}
.payPC_wrap .pc_g_join strong{height:32px;display:inline-block;line-height:32px;color:#58595b;font-size:14px;}
.payPC_wrap .pc_g_join strong.on{color:#00bff0;}
.payPC_wrap .pc_g_join a{line-height:29px;}
.payPC_wrap .pc_g_join ul li a{line-height:14px;display:inline-block;position:relative;top:5px;}
.payPC_wrap .pc_g_join a span{margin-left:10px;border:1px solid #bcbec0;font-size:10px;padding:2px 5px;border-radius:3px;background:#58595b;color:#fff;}
.payPC_wrap .pc_g_join ul li a span{display:inline-block;}
.payPC_wrap .pc_g_join p{height:32px;}
.pay_pass_pc{margin-top:16px;width:516px;}
.pay_pass_pc #VBANK_cont{display:none;margin-left:15px;}
.pay_pass_pc #VBANK_cont input{margin-right:5px;}
.pay_pass_pc strong{display:block;color:#000;margin-bottom:5px;font-size:14px;padding-bottom:5px;font-weight:bold;}
.pass_dis{float:left;}.pass_dis p{padding-bottom:5px;font-weight:bold;}
.pay_pass_pc div.pass_card{margin-bottom:20px;float:left;margin-left:35px;line-height:40px;}
.pay_pass_pc #CARD{margin-right:5px;}
.pay_pass_pc label{color:#00bff0;line-height:37px;font-weight:bold;}
.pay_pass_pc label a{padding-bottom:5px;}
.buy_pass_btn{display:inline-block;float:right;}
.pay_pass_pc button{width:90px;height:30px;display:block;line-height:16px;font-size:16px;border:none;background:#00bff0;}
.pay_pass_pc button>span{color:#fff;cursor:pointer;padding:5px;font-weight:bold;}
.pay_exp{padding:2px 0 5px 15px;color:#000;}
.pay_exp span{border:2px solid #000;border-radius:5px;padding:0 5px;}
.pay_exp_mo{margin-top:5px;padding:0 0 5px 5px;color:#000;}
.pay_exp_mo span{font-size:11px;border:1px solid #000;border-radius:5px;padding:0 5px;}
.mP_btn{float:right;position:relative;top:12px;padding-right:15px;}
.mP_btn_gray{font-size:15px;color:#78787a;text-align:center;padding-right:13px;}
.mP_btn_gray a{width:104px;height:40px;display:inline-block;line-height:40px;background:#fbfbfb;border:1px solid #e1e1e1;border-radius:4px;}
.mP_btn_gray_{font-size:15px;color:#fff;text-align:center;padding-right:13px;}
.mP_btn_gray_ a{width:104px;height:40px;display:inline-block;line-height:40px;background:#e0e1e2;border:1px solid #e1e1e1;border-radius:4px;}

.p_cart_pc{text-align:center;}
.p_cart_pc ul{width:516px;display:block;background:#f8f8f8;height:100px;}
.p_cart_pc p{font-weight:bold;text-align:left;font-size:16px;margin-bottom:10px;}
.p_cart_pc ul li{width:100%;}
.p_cart_pc ul li:first-child{width:100%;height:33px;padding-top:18px;}
.p_cart_pc ul li:last-child{width:100%;height:48px;}
.p_cart_pc ul li div{float:left;text-align:center;color:#000;box-sizing:border-box;}
.p_cart_pc ul li:first-child div{font-size:13px;}
.p_cart_pc ul li:first-child div p{font-size:10px;line-height:16px;color:#000;text-align:center;}
.p_cart_pc ul li:last-child div{margin-top:10px;}
.p_cart_pc ul li:last-child div span{text-align:center;width:100%;line-height:28px;}
.p_cart_pc ul li:last-child div strong{float:right;box-sizing:border-box;text-align:center;display:inline-block;border:1px solid #acaeb1;width:18px;height:18px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin-top:5px;padding:0 1px 4px 0;font-family:'Segoe UI','Segoe','Nanum Gothic','Malgun Gothic','Tahoma','Arial','Dotum','Gulim';}
.p_cart_pc ul li:last-child div strong#p_minus{padding:0 1px 1px 0;font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;}
.p_cart_pc ul li:last-child div:last-child span{font-size:18px;padding-left:10px;font-weight:bold;font-family:'Segoe UI','Segoe','Nanum Gothic','Malgun Gothic','Tahoma','Arial','Dotum','Gulim';}

.pay_card_pc{float:right;}
.pay_card_pc .bankinfo_pc>ul>li{letter-spacing:1px;font-size:14px;margin:5px 0;}
.pay_card_pc .bankinfo_pc>ul>li span{padding-right:10px;}
.pay_card_pc .bankinfo_pc>ul>li span.bankIbk{color:#0054a6;}
.pay_card_pc .bankinfo_pc>ul>li:last-child{color:#f62a15;font-size:12px;}
.pay_card_pc .bankinfo_pc>ul>li:last-child:before{content:"•";}

/**
  * PWS Tabs jQuery Plugin
  * Author: Alex Chizhov
  * Author Website: http://alexchizhov.com/pwstabs
  * GitHub: https://github.com/alexchizhovcom/pwstabs
  * Version: 1.3.0
  * Version from: 20.08.2015
  * Licensed under the MIT license
  */


.pws_tabs_container {
  width: 100%;  
}

.pws_tabs_container ul.pws_tabs_controll {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pws_tabs_container ul.pws_tabs_controll li {
  display: inline-block;
  text-align: center;
  border:1px solid #d1d3d4;
  border-bottom: none

}

.pws_tabs_container ul.pws_tabs_controll li a {
  display: block;
  background-color: #fff;
  padding: 5px;
  text-decoration: none;
  color: #58595b; 
  cursor: pointer;
  width: 159px;
  font-size: 11px

}

.pws_tabs_container ul.pws_tabs_controll li a:hover {
  background-color: #00bff0;
  color:#fff;
}

.pws_tabs_container ul.pws_tabs_controll li a i {
  margin-right: 8px;
}

.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_noname i {
  margin-right: 0;
  margin-left: 0;
}

.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #00bff0;
  color: #fff
}

.pws_tabs_list {
  overflow:hidden;
  display: block;
  background-color: #fff;
  height: 100%;
  padding: 1.25em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border:1px solid #d1d3d4; 
  border-bottom: none
 
}

.pws_tab_single {
  position: absolute;
  top: 20px;
  padding-right: 20px;
  padding-right: 1.25em;
}

/**
  * ######################################################
  * Right To Left Styles
  * ######################################################
  */
.pws_tabs_container.pws_tabs_rtl {
  text-align: right;
  direction: rtl;
}

.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 3px;
}

.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a i {
  margin-left: 8px;
  margin-right: 0;
}

.pws_tabs_container.pws_tabs_rtl .pws_tab_single {
  padding-right: 0;
  padding-left: 20px;
  padding-left: 1.25em;
}

/**
  * ######################################################
  * Vertical Position
  * ######################################################
  */
.pws_tabs_container.pws_tabs_vertical {
  display: block;
  position: relative;
}

.pws_tabs_container.pws_tabs_vertical:after {
  display: block;
  content: '';
  clear: both;
}

.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll {
  width: auto;
  position: relative;
  float: left;
}

.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li {
  display: block;
}

.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3px;
}

.pws_tabs_container.pws_tabs_vertical .pws_tabs_list {
  position: relative;
  float: left;
}


/**
  * ######################################################
  * Effect: none
  * ######################################################
  */
.pws_tabs_noeffect .pws_tabs_list {
        padding: 0; padding-bottom:20px;
}

.pws_tabs_noeffect .pws_tab_single {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.pws_tabs_container.pws_none .pws_hide {
  display: none;
}

.pws_tabs_container.pws_none .pws_show {
  display: block;
}

/**
  * ######################################################
  * Effect: scale
  * ######################################################
  */
.pws_tabs_container.pws_scale .pws_hide {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.pws_tabs_container.pws_scale .pws_show {
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.white-popup {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: 300px;
        max-width: 500px;
        margin: 20px auto;
    }  
    .pws_tabs_container ul.pws_tabs_controll li {
    width: 160px;
    }
    .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {   
           width: 160px;padding: 10px;box-sizing: border-box;font-size:16px;
    }
   .pws_tabs_container ul.pws_tabs_controll li a {
        width: 160px;padding: 10px;box-sizing: border-box;font-size:16px;
    }
    .regul_essential {
        padding: 25px 20px 20px 20px;border-bottom: 1px dashed #d1d3d4; margin: 0 10px;
    }
    .regul_essential h4 {
        font-size:16px; margin-bottom:10px; font-weight:bold;
    }
    .regul_essential .rePC_txt {
        font-size:13px; line-height:18px;margin-bottom:10px;
    }
    .regul_essential input{
        margin-bottom:5px;
    }
    .regul_essential span:first-child{
     font-size:16px;color:#000;
    } 
    .regul_essential span:last-child{
     color:#00bff0;margin-left:20px;
    }     
    .regul_essential th{
        text-align: left; width:35%;color: #6d6e71;font-size: 13px;
    }
    .p_pass_pc .pass_dis{
        float:left;
    }
    .p_pass_pc .pass_dis button{
        padding:10px; font-weight:bold;
    }
    .regul_agree_con .pc_g_join .regul_agree_txt {
        font-size:14px;color:#00bff0;clear: both;line-height: 32px;
    }
    .regul_agree_con li {
     float:left; width:50%;
    }  
    .regul_essential table tbody tr td input{
          width:60px;
    }
    .regul_agree_con {
        height: 200px; background: #fff;border:1px solid #d1d3d4; border-top:none
    }
    
    article.buy_pass_pc > div > ul > li > a > dl {background-color: white !important;border-color: #00bff0 !important;height:auto !important;}
    .paypc-dt {letter-spacing:-1px !important;font-size: 18px !important;color: #66717a;font-weight: bold !important;border-bottom:1px solid #00bff0;margin:0 !important;padding:10px 0;}
    a.on .paypc-dt {color: white !important;background-color: #00bff0;}
    /*.paypc-d1 {float: left;background-color:#6d6e71;color:white;}*/
    .paypc-d1 {margin:0 !important;height:40px;}
    .paypc-d1 span {background-color:#566871;color:white;margin:10px 10px 0 10px;font-size:16px;width:70px;border-radius:5px;height:25px;line-height:25px;letter-spacing:0 !important;font-weight:normal;float:left;}
    .paypc-d1 span.pay-hot {background-color:#F2001D !important;float:right;color:yellow;}
    .paypc-d2 {margin:8px auto !important;}
    .paypc-d2 img {height: 63px;}
    .paypc-d3 {margin:0px ! important; color: #00bff0 !important;letter-spacing: .2px;font-size: 30px !important; 
               font-family: 'NotoSansKR-Medium-Alphabetic' !important;font-weight: bold;background-color:white !important;
    }
    .paypc-d4 {font-size:18px! important;padding:15px 0 !important;font-weight: normal !important;margin-top: 0 !important;}
    .paypc-d4 span {background-color:#00bff0;color:yellow !important;border-radius:4px;padding: 0 5px;letter-spacing:0 !important;}
    .paypc-d5 {padding:20px 0;border-top:1px solid #00bff0;}
    a.on .paypc-d5 {background-color: #00bff0;}
    .paypc-d5 span {background-color:#00bff0;color:white;border-radius:5px;padding: 0 10px;font-size:26px;}
    a.on .paypc-d5 span {background-color:white;color:#5B6771;}

.white-popup {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: 300px;
        max-width: 500px;
        margin: 20px auto;
    }  
    .pws_tabs_container ul.pws_tabs_controll li {
    width: 160px;
    }
    .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {   
           width: 160px;padding: 10px;box-sizing: border-box;font-size:16px;
    }
   .pws_tabs_container ul.pws_tabs_controll li a {
        width: 160px;padding: 10px;box-sizing: border-box;font-size:16px;
    }
    .regul_essential {
        padding: 25px 20px 20px 20px;border-bottom: 1px dashed #d1d3d4; margin: 0 10px;
    }
    .regul_essential h4 {
        font-size:16px; margin-bottom:10px; font-weight:bold;
    }
    .regul_essential .rePC_txt {
        font-size:13px; line-height:18px;margin-bottom:10px;
    }
    .regul_essential input{
        margin-bottom:5px;
    }
    .regul_essential span:first-child{
     font-size:16px;color:#000;
    } 
    .regul_essential span:last-child{
     color:#00bff0;margin-left:20px;
    }     
    .regul_essential th{
        text-align: left; width:35%;color: #6d6e71;font-size: 13px;
    }
    .p_pass_pc .pass_dis{
        float:left;
    }
    .p_pass_pc .pass_dis button{
        padding:10px; font-weight:bold;
    }
    .regul_agree_con .pc_g_join .regul_agree_txt {
        font-size:14px;color:#00bff0;clear: both;line-height: 32px;
    }
    .regul_agree_con li {
     float:left; width:50%;
    }  
    .regul_essential table tbody tr td input{
          width:60px;
    }
    .regul_agree_con {
        height: 200px; background: #fff;border:1px solid #d1d3d4; border-top:none
    }
    
    article.buy_pass_pc > div > ul > li > a > dl {background-color: white !important;border-color: #00bff0 !important;height:auto !important;}
    .paypc-dt {letter-spacing:-1px !important;font-size: 18px !important;color: #66717a;font-weight: bold !important;border-bottom:1px solid #00bff0;margin:0 !important;padding:10px 0;}
    a.on .paypc-dt {color: white !important;background-color: #00bff0;}
    /*.paypc-d1 {float: left;background-color:#6d6e71;color:white;}*/
    .paypc-d1 {margin:0 !important;height:40px;}
    .paypc-d1 span {background-color:#566871;color:white;margin:10px 10px 0 10px;font-size:16px;width:70px;border-radius:5px;height:25px;line-height:25px;letter-spacing:0 !important;font-weight:normal;float:left;}
    .paypc-d1 span.pay-hot {background-color:#F2001D !important;float:right;color:yellow;}
    .paypc-d2 {margin:8px auto !important;}
    .paypc-d2 img {height: 63px;}
    .paypc-d3 {margin:0px ! important; color: #00bff0 !important;letter-spacing: .2px;font-size: 30px !important; 
               font-family: 'NotoSansKR-Medium-Alphabetic' !important;font-weight: bold;background-color:white !important;
    }
    .paypc-d4 {font-size:18px! important;padding:15px 0 !important;font-weight: normal !important;margin-top: 0 !important;}
    .paypc-d4 span {background-color:#00bff0;color:yellow !important;border-radius:4px;padding: 0 5px;letter-spacing:0 !important;}
    .paypc-d5 {padding:20px 0;border-top:1px solid #00bff0;}
    a.on .paypc-d5 {background-color: #00bff0;}
    .paypc-d5 span {background-color:#00bff0;color:white;border-radius:5px;padding: 0 10px;font-size:26px;}
    a.on .paypc-d5 span {background-color:white;color:#5B6771;}
