html {
    height: 100%;
}
html {
    font-size: 10px;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
html {
    font-family: sans-serif;
}
body {
    font: 14px/1.6 'Noto Sans Korean', 'Apple SD Gothic Neo', "맑은 고딕", "Malgun Gothic", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #444;
    background: #fff;
}
body {
    margin: 0;
}
.wrap {
    background: #fff;
}
.container {
    width: 1250px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mypagePanel {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    padding-bottom: 40px;
    min-height: 700px;
}
@media (min-width: 768px)
<style>…</style>
.col-sm-8 {
    width: 66.66666667%;
}
@media (min-width: 768px)
<style>…</style>
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}
.col-md-6 {
	position: relative;
    min-height: 1px;
    width: 550px;
    float: left;
}
.form-group {
    margin-bottom: 15px;
    width: 500px;
}
.editMyInfo .memberForm #user_phone_div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background: #f5f5f5;
}
.form-group {
    margin-bottom: 15px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.panel {
    box-shadow: none;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 450px;
}
.editMyInfo .submitLine {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}
.memberForm .submitLine {
    position: relative;
}
.btn-primary {
    background-color: #00bff0;
    border-color: #0eaad1;
}
.btn {
    border-radius: 2px;
}
.btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
button {
    font: 14px/1.6 'Noto Sans Korean', 'Apple SD Gothic Neo', "맑은 고딕", "Malgun Gothic", Helvetica, Arial, sans-serif;
    margin: 0;
}
.btn {
    border-radius: 2px;
}
.btn-sm {
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-link {
	font-weight: 400;
    color: #337ab7;
}
.editMyInfo .memberForm .form-control {
    font-size: 13px;
    height: 34px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
}
.memberForm .form-control {
    border: 0 none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background: none;
    font-size: 15px;
    font-weight: 300;
    height: 45px;
    padding: 0;
    -webkit-appearance: none;
}
.form-control {
	display: block;
    width: 400px;
    line-height: 1.42857143;
    color: #555;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select, input, textarea, button {
    font: 14px/1.6 'Noto Sans Korean', 'Apple SD Gothic Neo', "맑은 고딕", "Malgun Gothic", Helvetica, Arial, sans-serif;
    margin: 0;
}
.memberForm label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #00bff0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.editMyInfo .checkbox-inline {
    border: 1px solid #ddd;
    padding: 5px 10px 5px 30px;
    border-radius: 3px;
}
.editMyInfo .radio-inline {
	border: 1px solid #ddd;
    padding: 5px 10px 5px;
    border-radius: 3px;
} 
.memberForm .male {
    color: #00bff0;
}
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.memberForm .female {
    color: #f6786e;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.editMyInfo .memberForm .form-control[disabled], .editMyInfo .memberForm .form-control[readonly] {
    background: #eee;
    color: #888;
}
.input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -1px;
}
.input-group-btn>.btn {
    position: relative;
    height: 45px;
}
.btn {
    border-radius: 2px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.memberForm .help-block {
    letter-spacing: -0.6px;
    margin: 5px 0;
    line-height: 1.3;
}
.help-block {
    display: block;
    color: #737373;
}
.editMyInfo .memberForm #user_phone_div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background: #f5f5f5;
}
.mypagePanel h3 {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
}
input[type=checkbox] {
	margin: 4px 0 0;
	line-height: normal;
}
input[type=checkbox] {
	box-sizing: border-box;
    padding: 0;
}
.birthday select.form-control {
    width: 25%;
    display: inline;
}
.editMyInfo .memberForm .form-control[readonly] {
    background: #eee;
    color: #888;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    background-color: #00bff0;
    border-color: #0eaad1;
}
.btn-primary {
    color: #fff;
    border-color: #0eaad1;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    margin-top: 100px;
}
.withraw {
	margin-top: 100px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
input[type=tel] {
	width: 400px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.mypagePanel h3 {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-body {
    padding: 15px;
}
.memberForm label.checkbox-inline {
    font-size: 14px;
    font-weight: 400;
    color: #555;
}
